@model HalloWeb.Models.Games

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Games</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hersteller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hersteller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vertieb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vertieb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veröffentlicht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veröffentlicht)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beschreibung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beschreibung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
